
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


@keyframes shake {
    0%, 100% {transform: translate(-50%, -50%);}
    20%, 60% {transform: translate(-45%, -50%);}
    40%, 80% {transform: translate(-55%, -50%);}
}
